src/main/mule/dw-test2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dw-test2Flow" doc:id="a58d4506-f3ed-41f1-857b-bedde5ec6427" >
		<ee:transform doc:name="Transform Message" doc:id="e9eabe95-7043-402b-8c7a-ba377a4bdbd2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
var newpaylaod = [{"jose": "sadf"}, {"pedro" : "safds"}, {"mateo": "hhfkd"}] 
output application/json
---
(newpaylaod filter ($.'jose' == "sadf")) map {
	"$$" : $
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cc13534d-6a4d-4bca-bcfd-b1d473f15109" message="out:  #[payload]"/>
	</flow>
</mule>
